In [19]:
classData=read.csv("C:/Users/Aashri/Downloads/ClassData.csv")

In [21]:
# Min, Max, Median, Avg for GPA
max(classData$GPA)
min(classData$GPA)
mean(classData$GPA)
median(classData$GPA)

[1] 4

[1] 3.06

[1] 3.509706

[1] 3.5

In [22]:
# Min, Max, Median, Avg for YearofWorkExp
max(classData$Years.of.work.experience)
min(classData$Years.of.work.experience)
mean(classData$Years.of.work.experience)
median(classData$Years.of.work.experience)

[1] 6

[1] 1

[1] 2.811765

[1] 2.5

In [23]:
# mode of the Salary
mode <- function(x) {
  ux <- unique(x)
  ux[which.max(tabulate(match(x, ux)))]
}

result=mode(classData$Latest.salary..per.year.)
result

[1] 60000

In [32]:
# % of students having Co/op
countOfY=length(classData$Coops.Internships..YN.[classData$Coops.Internships..YN. == "Y"])
percentY=countOfY*100/length(classData$Coops.Internships..YN.)
percentY

[1] 70.58824

In [33]:
# % of students not having Co/op
countOfN=length(classData$Coops.Internships..YN.[classData$Coops.Internships..YN. == "N"])
percentN=countOfN*100/length(classData$Coops.Internships..YN.)
percentN

[1] 29.41176

In [36]:
#No of students with more than 500 LinkedIn contacts
countOfStudents=length(classData$Coops.Internships..YN.[classData$Number.of.contacts.on.Linkedin > 500])
countOfStudents

[1] 10

In [37]:
#inter quartile range
inQr=IQR(classData$Expected.Salary.after.graduation)
inQr

[1] 10000